Repository DevOps-MBSE/AaC, pull requests merged in 2022-12, with the labels that each got.

#497 Documentation - General Guidance for Plugin Development
  docs/docs/dev_guide/index.md
  docs/docs/dev_guide/plugin_dev_guide.md
Labels: documentation

#503 Validation - Boolean Primitive Type
  python/src/aac/plugins/first_party/primitive_type_check/__init__.py
  python/src/aac/plugins/first_party/primitive_type_check/validators/bool_validator.py
  python/tests/plugins/first_party/test_primitive_validation.py
Labels: feature: Python package

#402 I want the LSP to publish validation results as diagnostics
  python/src/aac/lang/definitions/collections.py
  python/src/aac/lang/definitions/definition.py
  python/src/aac/lang/definitions/source_location.py
  python/src/aac/lang/definitions/structure.py
  python/src/aac/lang/language_context.py
  python/src/aac/plugins/first_party/gen_plant_uml/gen_plant_uml_impl.py
  python/src/aac/plugins/first_party/gen_protobuf/gen_protobuf_impl.py
  python/src/aac/plugins/first_party/lsp_server/conversion_helpers.py
  python/src/aac/plugins/first_party/lsp_server/language_server.py
  python/src/aac/plugins/first_party/lsp_server/providers/publish_diagnostics_provider.py
  python/src/aac/plugins/first_party/primitive_type_check/validators/__init__.py
  python/src/aac/plugins/first_party/primitive_type_check/validators/bool_validator.py
  python/src/aac/plugins/first_party/primitive_type_check/validators/int_validator.py
  python/src/aac/plugins/validators/_finding_location.py
  python/src/aac/plugins/validators/_validator_finding.py
  python/src/aac/plugins/validators/_validator_findings.py
  python/src/aac/plugins/validators/_validator_result.py
  python/src/aac/plugins/validators/defined_references/_validate_references.py
  python/src/aac/plugins/validators/exclusive_fields/_exclusive_fields.py
  python/src/aac/plugins/validators/reference_fields/_validate_reference_fields.py
  python/src/aac/plugins/validators/reference_targets/_validate_reference_targets.py
  python/src/aac/plugins/validators/required_fields/_validate_required_fields.py
  python/src/aac/plugins/validators/root_keys/_validate_root_keys.py
  python/src/aac/plugins/validators/subcomponent_type/_subcomponent_type.py
  python/src/aac/plugins/validators/unique_names/_unique_names.py
  python/src/aac/plugins/validators/validator_implementation/_validator_implementation.py
  python/src/aac/validate/_validate.py
  python/tests/cli/test_validate_command.py
  python/tests/helpers/parsed_definitions.py
  python/tests/plugins/first_party/test_gen_protobuf.py
  python/tests/plugins/first_party/test_primitive_validation.py
  python/tests/plugins/lsp_server/providers/test_code_completion_provider.py
  python/tests/plugins/lsp_server/providers/test_publish_diagnostics_provider.py
  python/tests/plugins/lsp_server/test_server.py
  python/tests/plugins/validators/test__unique_names.py
  python/tests/plugins/validators/test__validator_findings.py
  python/tests/plugins/validators/test_defined_references.py
  python/tests/plugins/validators/test_required_fields.py
  python/tests/plugins/validators/test_root_keys.py
  python/tests/plugins/validators/test_subcomponent_type.py
  python/tests/plugins/validators/test_validate_exclusive_fields.py
  python/tests/plugins/validators/test_validation_implementation_plugin.py
  python/tests/validate/test_validate.py
  python/tox.ini
Labels: feature: AaC LSP

#455 I want AaC to provide persistence for the ActiveContext in the CLI.
  .github/workflows/python-tests.yml
  .gitignore
  python/src/aac/__init__.py
  python/src/aac/cli/execute.py
  python/src/aac/lang/active_context_lifecycle_manager.py
  python/src/aac/lang/language_context.py
  python/src/aac/persistence/__init__.py
  python/src/aac/persistence/state_file_error.py
  python/src/aac/plugins/first_party/gen_plugin/gen_plugin_impl.py
  python/src/aac/plugins/first_party/help_dump/help_dump_impl.py
  python/src/aac/plugins/plugin_execution.py
  python/src/aac/serialization/__init__.py
  python/src/aac/serialization/aac_command_encoder.py
  python/tests/cli/test_execute.py
  python/tests/lang/test_active_context_lifecycle_manager.py
  python/tests/lang/test_language_context.py
  python/tests/lang/test_references.py
  python/tests/plugins/first_party/test_help_dump_impl.py
Labels: feature: AaC LSP

#498 Adding Validation to the Extension type field
  python/src/aac/lang/definitions/definition.py
  python/src/aac/lang/hierarchy.py
  python/src/aac/plugins/validators/_finding_location.py
  python/src/aac/plugins/validators/defined_references/_validate_references.py
  python/src/aac/spec/spec.yaml
  python/tests/plugins/lsp_server/providers/test_goto_definition_provider.py
  python/tests/plugins/validators/test_validate_exclusive_fields.py
  python/tests/validate/test_validate.py
Labels: chore
