Repository DevOps-MBSE/AaC, pull requests merged in 2023-08, with the labels that each got.

#634 Unreferenced Definition Validator
  python/src/aac/__init__.py
  python/src/aac/plugins/validators/reference_fields/_validate_reference_fields.py
  python/src/aac/plugins/validators/required_fields/_validate_required_fields.py
  python/src/aac/plugins/validators/unused_definitions/__init__.py
  python/src/aac/plugins/validators/unused_definitions/_validate_used_definitions.py
  python/src/aac/plugins/validators/unused_definitions/unused_definitions.yaml
  python/src/aac/spec/spec.yaml
  python/tests/plugins/lsp_server/lsp_test_client.py
  python/tests/plugins/lsp_server/providers/test_publish_diagnostics_provider.py
  python/tests/plugins/validators/test__validate_used_definitions.py
Labels: enhancement, feature: Python package

#651 Lizzcondrey/450 i want a GitHub issues template for aac
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/DOCUMENTATION-REQUEST.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/config.yml
  python/src/aac/__init__.py
Labels: documentation

#656 Correcting Issue Templates
  .github/ISSUE_TEMPLATE/BUG-REPORT.yml
  .github/ISSUE_TEMPLATE/DOCUMENTATION-REQUEST.yml
  .github/ISSUE_TEMPLATE/FEATURE-REQUEST.yml
  .github/ISSUE_TEMPLATE/SIMPLE-TASK.yml
  python/setup.py
  python/src/aac/__init__.py
Labels: bug, documentation

#658 Updating github references in documentation
  docs/source/project_documentation/advanced_user_topics/language_extensions.md
  docs/source/project_documentation/dev_guide/dev_guide_index.md
  docs/source/project_documentation/dev_guide/docs.md
  docs/source/project_documentation/dev_guide/language_api/modeling_inheritance.md
  docs/source/project_documentation/home_page_index.rst
  docs/source/project_documentation/plugins/gen_protobuf.md
  docs/source/project_documentation/user_guide/aac_language.md
  docs/source/project_documentation/user_guide/getting_started.md
  python/src/aac/__init__.py
Labels: bug, documentation

#661 User Schema Docs
  .gitpod.Dockerfile
  .gitpod.yml
  docs/.gitignore
  docs/source/project_documentation/advanced_user_topics/language_extensions.md
  docs/source/project_documentation/home_page_index.rst
  docs/source/project_documentation/user_guide/aac_cli.md
  docs/source/project_documentation/user_guide/aac_gitops.md
  docs/source/project_documentation/user_guide/aac_language.md
  docs/source/project_documentation/user_guide/getting_started.md
  docs/source/project_documentation/user_guide/glossary.md
  docs/source/project_documentation/user_guide/index.rst
  docs/source/project_documentation/user_guide/project_structure.md
  docs/source/project_documentation/user_guide/schema_definitions.md
  docs/source/project_documentation/user_guide/secure_install.md
  docs/source/project_documentation/user_guide/style_guide.md
  docs/source/project_documentation/user_guide/user_guide_index.md
  docs/source/project_documentation/user_guide/user_library.md
  python/setup.py
  python/src/aac/__init__.py
Labels: documentation

#660 Standardizing Plant UML Diagrams
  python/setup.py
  python/src/aac/__init__.py
  python/src/aac/plugins/first_party/gen_plant_uml/gen_plant_uml_impl.py
  python/tests/plugins/first_party/test_gen_plant_uml.py
Labels: bug, feature: Python package

#659 AaC Documentation for the model root key
  docs/source/project_documentation/user_guide/index.rst
  docs/source/project_documentation/user_guide/model_definitions.md
  docs/source/project_documentation/user_guide/schema_definitions.md
  python/model/alarm_clock/alarm_clock.yaml
  python/src/aac/__init__.py
  vscode_extension/package.json
Labels: documentation
