Repository DevOps-MBSE/AaC, pull requests merged in 2023-10, with the labels that each got.

#702 Replaced Pasted Code Snippets
  .github/workflows/python-build-and-lint.yml
  .github/workflows/sphinx.yml
  docs/source/project_documentation/advanced_user_topics/advanced_user_topics_index.md
  docs/source/project_documentation/advanced_user_topics/language_extensions.md
  docs/source/project_documentation/advanced_user_topics/schema_inheritance.md
  docs/source/project_documentation/dev_guide/aac_validation.md
  docs/source/project_documentation/dev_guide/dev_guide_index.md
  docs/source/project_documentation/dev_guide/docs.md
  docs/source/project_documentation/dev_guide/language_api/language_api_index.md
  docs/source/project_documentation/dev_guide/language_api/modeling_inheritance.md
  docs/source/project_documentation/dev_guide/plugin_dev_guide.md
  docs/source/project_documentation/dev_guide/profiling.md
  docs/source/project_documentation/dev_guide/validation_plugins.md
  docs/source/project_documentation/plugins/gen_protobuf.md
  docs/source/project_documentation/plugins/plant_uml.md
  docs/source/project_documentation/plugins/plugins_index.md
  docs/source/project_documentation/user_guide/aac_cli.md
  docs/source/project_documentation/user_guide/aac_language.md
  docs/source/project_documentation/user_guide/getting_started.md
  docs/source/project_documentation/user_guide/user_library.md
  docs/source/project_documentation/vscode_extension/command_features.md
  docs/source/project_documentation/vscode_extension/lsp_features.md
  docs/source/project_documentation/vscode_extension/vscode_extension_index.md
  python/setup.py
  python/src/aac/__init__.py
  python/src/aac/plugins/validators/exclusive_fields/_validate_exclusive_fields.py
  python/src/aac/plugins/validators/unused_definitions/_validate_used_definitions.py
Labels: changed

#704 Add traceability to external requirements in feature files
  python/model/calc/model/calculator.yaml
  python/src/aac/__init__.py
  python/src/aac/lang/constants.py
  python/src/aac/plugins/first_party/gen_gherkin_behaviors/behavior.feature.jinja2
  python/src/aac/plugins/first_party/gen_gherkin_behaviors/gen_gherkin_behaviors_impl.py
  python/src/aac/plugins/validators/unused_definitions/_validate_used_definitions.py
  python/tests/helpers/parsed_definitions.py
  python/tests/plugins/first_party/test_gen_gherkin_behaviors.py
Labels: feature: Python package, changed

#705 Cleaned Up Legacy Root Key Documentation
  docs/source/project_documentation/advanced_user_topics/language_extensions.md
  docs/source/project_documentation/user_guide/schema_definitions.md
  docs/source/project_documentation/user_guide/user_library.md
  python/src/aac/__init__.py
Labels: documentation, deprecated

#706 Include finding location details in CLI validation results
  python/src/aac/__init__.py
  python/src/aac/plugins/validators/_validator_result.py
Labels: feature: Python package, changed

#707 Added Alternate Project Structure to Documentation
  .github/workflows/sphinx.yml
  .github/workflows/vscode-build-artifacts.yml
  docs/source/project_documentation/user_guide/project_structure.md
  python/src/aac/__init__.py
Labels: documentation, changed

#708 Print Validated File List
  .github/workflows/sphinx.yml
  python/src/aac/__init__.py
  python/src/aac/plugins/validators/_validator_result.py
  python/tests/plugins/validators/test__validate_used_definitions.py
  vscode_extension/src/test/suite/aacExecutableWrapper.test.ts
Labels: added
